@{
    Layout = null;
}
<html>
<body>
    <script type="text/javascript" src="//connect.facebook.net/@(System.Globalization.CultureInfo.CurrentCulture.ToString().Replace("-", "_"))/all.js"></script>
</body>
</html>