<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://virtualdesign.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>virtualdesign.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>virtualdesign</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$virtualdesign</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:oo0nio5ygm.database.windows.net,1433;Initial Catalog=virtualdesign;User ID=virtualdesignuser@oo0nio5ygm;Password=Admin123" Name="Data Source=tcp:oo0nio5ygm.database.windows.net,1433;Initial Catalog=virtualdesign;User Id=virtualdesignuser@oo0nio5ygm;Password=Admin123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:oo0nio5ygm.database.windows.net,1433;Initial Catalog=virtualdesign;Integrated Security=False;User ID=virtualdesignuser@oo0nio5ygm;Password=Admin123;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:oo0nio5ygm.database.windows.net,1433;Database=virtualdesign;User ID=virtualdesignuser@oo0nio5ygm;Password=Admin123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:oo0nio5ygm.database.windows.net,1433;Initial Catalog=virtualdesign;User Id=virtualdesignuser@oo0nio5ygm;Password=Admin123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>